@font-face {
   font-family: 'Indie Flower';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/Sinan/Desktop/ALEYNABOZKURTS%C4%B0TE//fonts/Indie Flower/regular.ttf') format('truetype');
}
